@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Confirm Email";
}

<div class="alert alert-success">
    Thank you for confirming your email. Please @Html.ActionLink("Click here to Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
</div>
