@{
    ViewBag.Title = "Home";
}

<p class="lead">Welcome to <strong>ASP.NET MVC Sample for DevAccelerate</strong>. The sample demonstrate the use of various DevAccelerate modules especially Core and Identity modules.</p>
<p class="lead">
For more information about DevAccelerate, please go to the official website <a href="https://devaccelerate.github.io/">https://devaccelerate.github.io/</a>
</p>